  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  html
  ,body
  #root{
    width:100%;
    background-color: black;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main{
    position: relative;
  }

  section{
    min-height: 100vh;
    position: relative;
    z-index: 2;
  }

  #canvas-elem::after{
        content:"";
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        background:url(/background-xl-2.png);
        background-repeat:no-repeat;
        background-size:cover;
        transition: all 0.3s linear;
  }

  #section-1{


    --gap:6.7rem;
    position: relative;

    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem; 
    padding-top: 3.2rem;
    color:whitesmoke;
    
    .nav-elem:nth-child(2){
      i{
        color: rgb(243, 83, 83);
        font-size: larger;
      }
      }
   .nav-elem:nth-child(3){
      i{
      width: 13.5rem;
      display: flex;
      justify-content: end;
      font-size: 1.4rem;
      }
      }

     .nav-elem{
      display: flex;      
      align-items: center;
      font-size: small;
      font-weight:bolder;
      gap: 0.9rem;
    }

      svg{
        max-width: 6.5rem;
        height: 100%;
        width:100%;
      }
    }

    .middle{
      display: flex;
      
      .left,
      .right{
        width: 50%;
      }
    
      .left{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-block: 5rem;
        padding-right: 1.1rem;
      }
      h1{
        font-size: 6.5rem;
        line-height: 0.9;
        text-align: right;
      }
    }

    .bottom{
      
      display: flex;
      gap: var(--gap);

      .left,
      right{
        width: 50%;
      }

      .right{
        p{
        font-size: 1.45rem;
        font-weight: 200;
        line-height: 1.5;
        padding-block: 5.3rem;
        }
      }
    }

    .line-1{
      width: 42rem;
      height: 1px;
      background-color:rgb(232, 46, 46);
      position: absolute;
      transform:rotate(45deg) translate(-19.5rem,-14.2rem); 
    }
    
    .line-2{
      width: 10rem;
      height: 1px;
      background-color:rgb(232, 46, 46);
      position: absolute;
      transform:rotate(135deg);
      top:32%;
      right: 15%;
    }
 }

 #section-2{  
  margin-top: 20rem;  
  position: relative;
  
  
  .titles{
    display: flex;
    flex-direction: column;
    padding-left: 2.7rem;
    width: 70%;
    
    
    .title{
      display: flex;
      gap: 4rem;
      margin-block: 2rem;
      opacity: 0.3;
      cursor: pointer;
      transition: all 0.3s linear;
      
      h1{
        font-size: 4.5rem;
        font-weight: 100;
         top: 0;
          line-height: 1;
          text-align: right;
        }
      small{
        margin-top: 0.6rem;
        font-size: 0.8rem;
      }
     
    }
     .title:hover {
      opacity: 1;
    }
  }
 }


 main:has(#section-2 .title:hover) #canvas-elem::after{
  opacity: 0;
 }

.images{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  
    img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }

  div{
    
    position: fixed;
    font-size: 1.3rem;
    bottom:12.5%;
    line-height: 1.5 ;
    right: 3%;
    text-align: right;
    opacity: 0;
    transition: all 0.3 ease-in-out;
    p{
      p{
        color: rgb(214, 134, 48);
        font-size: x-small;
        letter-spacing: 5px;
      }
    }
  }
}

 main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images .tomorrowland {
  opacity: 1;
  background-color: rgb(21, 28, 50); 

  } 

 main:has(#section-2 .title[img-title="navy-pier"]:hover) .images .navy-pier{
opacity: 1;
background-color: rgb(21, 28, 50); 
 p{p{
    color: rgb(21, 197, 150);}
  }

 }
 main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images .msi-chicago{
opacity: 1;
  p{p{
    color: rgb(21, 197, 150);}
  }
 }
 main:has(#section-2 .title[img-title="louises-phone"]:hover) .images .louises-phone{
opacity: 1;
background-color: rgb(21, 28, 50); 
 p{p{
    color: rgb(21, 197, 150);}
  }
 }
  
  main:has(#section-2 .title[img-title="kikk-festical"]:hover) .images .kikk-festical{
opacity: 1;
background-color: rgb(9, 9, 126)
 }
 
 main:has(#section-2 .title[img-title="kennedy"]:hover) .images .kennedy{
opacity: 1;
background-color: rgb(21, 28, 50); 
 }
 
 main:has(#section-2 .title[img-title="royal-opera"]:hover) .images .royal-opera{
opacity: 1;
background-color: #4D0101;
p{
  background-color: #4D0101;
}
 }

 #section-3{
  margin-top:30rem;
    position: relative;
    z-index: 0;
    display: flex;
    min-height: initial;
    .underlying-text{
      padding-left:11.5rem ;
    
      p{
        font-size: small;
      }
      
      h3{
    color: white;
    font-size: 3rem;
    line-height: 1;
    padding-block:1.5rem;
    } 
  }
 }

#section-4{

  .top{
    width: 100%;
    display: flex;
    margin-top: -2.5rem;
    .left,.right{
      width: 50%;
    }
    
.right{

  display: flex;
  flex-direction: column;
  padding-inline: 1.7rem; 
  justify-content: end;

  .splited-text{
     padding-bottom: 2rem;
     line-height: 1.6;
     display: flex;
     align-items: end;
     gap: 2rem;
     color: rgb(114, 117, 156);
     
     .nested-right{
       padding-bottom: 1.7rem;
      }
    }
    }
    
    .discover-button{
      
      margin-bottom: 0.5rem;

      button{
        font-size: small;
        font-weight: 520;
        display: flex;
        width: 12rem;
        padding-block: 1rem;
        background-color: transparent;
        border:transparent;
        color: whitesmoke;
        cursor: pointer;
      }

      .button-line{
        width: 10rem;
        height: 3px;
        background-color: rgb(232, 46, 46);
        margin-left: -2rem;
        transition: all 0.4s ease-in-out;
      }

    }

    .discover-button:hover{
      .button-line{
        margin-left: 0%;
        width: 8rem;  
      }
    }
  }

  

  .footer {
    position: relative;
    width: 100%;
    height: 20rem;


    .text{
    position: relative;
    z-index: 2;
    margin-inline: 15rem;
    width: 68%;
    margin-top: 18rem;  
    
    .top{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      line-height: 1;
      font-size: x-large;

      
      .text{
        padding: 0%;
        margin: 0%;
      }
       p{
       font-size: x-small; 
       }
       .image{
          text-align: right;
          width:18rem;
       }
    }
    
   
    img{
      height: 5rem;
      margin-bottom: 2rem;
      
    }
 
    .bottom{
      margin-top: 5rem;
      height: 5rem;

      .line{
        width: 100%;
        height: 1px;
        background-color: #2f2f30;
      }
      
    }
  
    }
} 
}
 
  /* Background Image Layer */
.footer::before {
  content: "";
  position: absolute;
  inset: 0;
 
  filter: blur(10px) brightness(0.6);
  opacity: 0.5;

  z-index: 0;
}

/* Dark Gradient Overlay */
.footer::after {
  content: "";
  position: absolute;
  inset: 0;
  margin-top: -15rem;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.3) 80%,
    transparent 100%
  );

  z-index: 1;
}

/* Content stays above */
.footer-content {
  position: relative;
  z-index: 2;
  color: white;
}